<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<body>
	<th:block th:fragment="header">
		<!-- 상단 네비게이션 바 -->
		<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
			<div class="container-fluid">
				<a class="navbar-brand" th:href="@{/}"><i class="fa-solid fa-house"></i></a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#mynavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse justify-content-end"
					id="mynavbar">
					<ul class="navbar-nav">
						
						
						<li th:if="${session.usersDto == null}" class="nav-item"><a class="nav-link" th:href="@{/users/login}"><i
								class="fa-solid fa-hands"></i> 로그인</a></li>
								
						<li th:if="${session.usersDto != null}" class="nav-item"><a class="nav-link" th:href="@{/users/logout}"><i
								class="fa-solid fa-hands"></i> 로그아웃</a></li>
								
						<li class="nav-item"><a class="nav-link" th:href="@{/users/all}"><i
								class="fa-solid fa-chess-board"></i> 회원</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/users/pagingAll?paging=y}"><i
								class="fa-solid fa-chess-board"></i> 회원(페이징)</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{/bbs/all}"><i
								class="fa-solid fa-chess-board"></i> 게시판</a></li>

					</ul>

				</div>
			</div>
		</nav>
		<div style="margin-bottom: 55px"></div>
		<!-- fixed-top일때 -->
		<!-- 상단 네비게이션 끝 -->
	</th:block>
</body>
</html>