<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>view.html</title>

<th:block th:replace="~{layout/config::config}"></th:block>
<link rel="stylesheet" th:href="@{styles/common.css}">
</head>
<body>
	<div class="container">
		<div class="container-fluid">
			<th:block th:replace="~{layout/header::header}"></th:block>

			<div style="margin-bottom: 55px"></div>
			<!-- fixed-top일때 -->
			<!-- 상단 네비게이션 끝 -->
			<!--  컨텐츠 시작 -->

			<fieldset class="border rounded-3 p-3">
				<legend class="float-none w-auto px-3">게시글 상세</legend>
				<table class="table table-bordered table-sm">
					<tbody th:object="${bbs}">
						<tr>
							<th class="w-25 bg-dark text-white text-center">번호</th>
							<td th:text="*{id}">1</td>
						</tr>
						<tr>
							<th class="w-25 bg-dark text-white text-center">글쓴이</th>
							<td th:text="*{usersDto.name}">가길동</td>
						</tr>
						<tr>
							<th class="w-25 bg-dark text-white text-center">작성일</th>
							<td th:text="*{#temporals.format(postDate,'yyyy.MM.dd')}" >2022-2-2</td>
						</tr>
						<tr>
							<th class="w-25 bg-dark text-white text-center">제목</th>
							<td th:text="*{title}">제목입니다</td>
						</tr>
						<tr>
							<th class="bg-dark text-white text-center" colspan="2">내 용</th>
						</tr>
						<tr>
							<td colspan="2"  th:utext="*{content}">내용입니다</td>
						</tr>
					</tbody>
				</table>
				<!-- 수정/삭제/목록 컨트롤 버튼 -->
				<div class="text-center">
					<th:block th:if="${session.usersDto.username ==bbs.usersDto.username}">
						<!--
						컨트롤러에서 /bbs/update/{id} URI로 그리고 @PathVariable Long id 받을때
						즉 패스파라미터로 해당 글 번호의 수정 요청시
						-->
						<a class="btn btn-success" th:href="@{|/bbs/update/${bbs.id}|}">수정</a>
						<!--
						컨트롤러에서 /bbs/update?id=1004 URI로 그리고 @RequestParam Long id 받을때
						즉 쿼리 스트링으로 해당 글 번호의 수정 요청시
						<a class="btn btn-success" th:onclick="|location.replace('@{/bbs/update(id=${bbs.id})}')|">수정</a>
						-->
						<a href="javascript:isDelete()" class="btn btn-success">삭제</a>
					</th:block>
					<a class="btn btn-success" th:href="@{/bbs/all}">목록</a>
				</div>
				<!-- 한줄 코멘트 입력/수정 폼 -->
				<form id="form" class="row justify-content-center mt-3" >
					<!--ajax(자바스크립트)로 요청시 csrf활성화하면 아래 토큰값을 전송해야 한다 미 전송시 403 Forbidden에러-->
					<!-- /* 
					<input type="hidden" id="csrfToken"
						th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> <input
						type="hidden" name="bbs_id" th:value="${bbs.id}"/>
					*/ -->
					
					<input type="hidden" name="bbs_id" th:value="${bbs.id}"/>
					<!-- 댓글 수정용 -->
					<input type="hidden" name="id" />
					
					<div class="col-5">
						<input type="text" id="content" name="content"
							class="form-control mx-2" placeholder="한줄 댓글을 입력하세요" />
					</div>
					<div class="col-auto">
						<input type="button" class="btn btn-danger mx-2" value="등록"
							id="submit" />
					</div>
				</form>
				<!-- 한줄 코멘트 목록 -->
				<div class="row d-flex justify-content-center mt-3">
					<div class="col-sm-8">
						<table class="table table-hover text-center">
							<thead>
								<tr>
									<th class="col-2">작성자</th>
									<th>코멘트</th>
									<th class="col-2">작성일</th>
									<th class="col-2">삭제</th>
								</tr>
							</thead>
							<tbody class="table-sm down-file-body" id="comments-list">
								<tr id="empty-comment">
									<td colspan="4">등록된 한줄 댓글이 없습니다.</td>
								</tr>
								<tr th:each="comment : ${bbs.commentsDtoList}" >
									<td th:text="${comment.usersDto.name}">홍길동</td>
									<td class="text-start" th:text="${comment.content}" th:title="${comment.id}">코멘트입니다</td>
									<td th:text="${#temporals.format(comment.postDate,'yyyy-MM-dd')}">2022-2-2</td>
									<td >
										
											<button class="btn btn-info btn-sm my-delete">삭제</button> 
										
										
									</td>
								</tr>
								<!--  
								<tr >
									<td >홍길동</td>
									<td class="text-start" >코멘트입니다</td>
									<td >2022-2-2</td>
									<td >
										<th:block >
											<button class="btn btn-info btn-sm my-delete">삭제</button>
										</th:block>
										<th:block >
											삭제不
										</th:block>
										
									</td>
								</tr>
								-->
							</tbody>
						</table>
					</div>
				</div>
			</fieldset>
			<!--  컨텐츠 끝 -->
			<!-- 푸터 시작 -->
			<th:block th:replace="~{layout/footer::footer}"></th:block>
			<!-- 푸터 끝 -->
		</div>
		<!-- container-fluid -->
	</div>
	<!-- container -->
	<script th:inline="javascript">
		if('[[${errorMessage}]]' != 'null'){
			const div=document.querySelector('#errorMsg');
			div.classList.add("d-block");
			div.classList.remove("d-none");
		}
		
		const formNode = document.querySelector('#form');
		const buttonNode = document.querySelector('#submit');
		
		//<<한줄 댓글 등록 및 수정 버튼 클릭 이벤트 처리>>
		buttonNode.onclick = (e)=>{
			console.log(e.target.value);
			//1.수정 및 등록 요청별 설정
			let url=[[@{/comments}]],//폼의 ACTION 속성값 저장용
				method;//폼의 METHOD 속성값 저장용
			if(e.target.value==="등록"){//등록				
				method="POST";
			}
			else{//수정				
				method="PUT";
			}
			//2.폼의 값을 얻기위한 FormData객체 생성
			const formData = new FormData(formNode);			
			
			console.log(formData);
			formData.forEach(element=>console.log(element));
			//3.등록/수정 처리를 위한 ajax 요청
			fetch(url,{method,body:formData})
				.then(response=>response.json())
				.then(data=>{
					console.log('서버에서 받은 데이타:',data);
					
				})
				.catch(e=>console.log('에러:',e));
			
		};
		
	</script>
</body>
</html>