<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  
  <title>template.html</title>
  <link rel="stylesheet" th:href="@{/styles/common.css}">
  <th:block th:replace="~{layout/config::config}"></th:block>
</head>
<body>
  <!-- 상단 네비게이션 시작 -->
  <div class="container">
    <div class="container-fluid">
      <th:block th:replace="~{layout/header::header}"></th:block>
      <div style="margin-bottom:55px"></div><!-- fixed-top일때 -->
      <!-- 상단 네비게이션 끝 -->
      <!--  컨텐츠 시작 -->
      <fieldset class="border rounded-3 p-3">
        <legend class="float-none w-auto px-3">스프링 부트 프레임워크</legend>

      </fieldset>	





      <h1>Todo List</h1>
      <form th:action="@{/todos}" method="post" th:object="${newTodo}">
          <input type="text" th:field="*{task}" placeholder="Add a new task">
          <button type="submit">Add</button>
      </form>
      
      <ul>
          <li th:each="todo : ${todos}">
              <span th:text="${todo.task}"></span>
              <a th:href="@{/todos/complete/{id}(id=${todo.id})}">
                  <span th:text="${todo.completed} ? 'Undo' : 'Complete'"></span>
              </a>
              <a th:href="@{/todos/delete/{id}(id=${todo.id})}">Delete</a>
          </li>
      </ul>






      <!--  컨텐츠 끝 -->
      <!-- 푸터 시작 -->
      <th:block th:replace="~{layout/footer::footer}"></th:block>
      <!-- 푸터 끝 -->
    </div><!-- container-fluid -->
  </div><!-- container -->
</body>
</html>