<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>view.html</title>
	
		<th:block th:replace="~{layout/config::config}"></th:block>
		<link rel="stylesheet" th:href="@{styles/common.css}">
	</head>
	<body>
		<div class="container">
			<div class="container-fluid">
				<th:block th:replace="~{layout/header::header}"></th:block>
				
				<div style="margin-bottom:55px"></div><!-- fixed-top일때 -->
				<!-- 상단 네비게이션 끝 -->
				<!--  컨텐츠 시작 -->
				
				<fieldset class="border rounded-3 p-3">
					<legend class="float-none w-auto px-3">회원 정보</legend>
					<ul class="list-group list-group-numbered" th:object="${user}">
						<li class="list-group-item" th:text="|아이디 : *{username}|">아이디</li>
						<li class="list-group-item" th:text="|비번 : *{password}|">비밀번호</li>
						<li class="list-group-item" th:text="|이름 : *{name}|">이름</li>
						<li class="list-group-item" th:text="|가입일 : *{#strings.substring(regiDate,0,10)}|">가입일</li>
					</ul>	
				</fieldset>							
				<!--  컨텐츠 끝 -->
				<!-- 푸터 시작 -->
				<th:block th:replace="~{layout/footer::footer}"></th:block>
				<!-- 푸터 끝 -->
			</div><!-- container-fluid -->
		</div><!-- container -->
	</body>
</html>