<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>properties.html</title>
		
		<th:block th:replace="~{layout/config::config}"></th:block>
		<link rel="stylesheet" th:href="@{styles/common.css}">
	</head>
	<body>
		<div class="container">
			<div class="container-fluid">
				<th:block th:replace="~{layout/header::header}"></th:block>
				
				<div style="margin-bottom:55px"></div><!-- fixed-top일때 -->
				<!-- 상단 네비게이션 끝 -->
				<!--  컨텐츠 시작 -->
				
				<fieldset class="border rounded-3 p-3">
					<legend class="float-none w-auto px-3">Properties</legend>
					<h1 class="display-6" >속성파일</h1>
					<ul class="list-group list-group-numbered">
						<li class="list-group-item"><a th:href="@{/properties/valueDefault}">@Value어노테이션(application.properties:디폴트 속성파일(환경 설정)))</a></li>
						<li class="list-group-item"><a href="/properties/valueCustom">@Value어노테이션(커스텀 속성파일))</a></li>
					</ul>
					<kbd th:if="${! #strings.isEmpty(message)}">[[${message}]]</kbd>
				</fieldset>							
				<!--  컨텐츠 끝 -->
				<!-- 푸터 시작 -->
				<th:block th:replace="~{layout/footer::footer}"></th:block>
				<!-- 푸터 끝 -->
			</div><!-- container-fluid -->
		</div><!-- container -->
	</body>
</html>