<!-- 
<<<<빈 생성 순서>>>>
@ComponentScan을 수행할 때 패키지 경로에 따라 빈들이 탐색되고 등록된다
일반적으로 패키지 탐색 경로에 따라 빈이 생성되지만 
의존성 관계가 있다면 그에 따라 순서가 달라진다

예
com.ict.springboot.A
@Component
public class A{

}
com.ict.springboot.sub.B
@Component
public class B{

}
위 두 클래스가 의존관계가 없다면 A가 먼저 생성된다
단,A가 B에 의존한다면 B 가 먼저 생성된다


[의존성이 없는 경우]
일반 적인 순서는 
1.@Configuration 클래스 (스프링 빈 설정 클래스)
2.@Component, @Controller, @Service, @Repository (컴포넌트 스캔을 통해 빈으로 등록됨)
3.@Bean이 명시된 빈들 (설정 클래스에서 정의한 빈)

[의존성이 있는 경우]
특정 빈이 다른 빈을 의존하면 의존 관계에 따라 순서가 바뀔 수 있다
예를 들어, @Service 빈이 @Repository 빈을 사용한다면 @Repository 빈이 먼저 생성된다

[빈 생성 순서 제어 방법]
빈의 생성 순서를 명시적으로 조정해야 하는 경우:

@DependsOn("beanName")
명시적인 의존 관계 설정 (@Autowired, @Qualifier, 생성자 주입 등)

예
@Component
@DependsOn("repositoryBean")
public class ServiceBean {

    public ServiceBean() {
        System.out.println("ServiceBean 생성됨");
    }
}

@Repository("repositoryBean")
public class RepositoryBean {  
    public RepositoryBean() {
        System.out.println("RepositoryBean 생성됨");
    }
}
 -->

<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>annotation.html</title>		
		<th:block th:replace="~{layout/config::config}"></th:block>
		<link rel="stylesheet" th:href="@{styles/common.css}">
	</head>
	<body>
		<div class="container">
			<div class="container-fluid">
				<th:block th:replace="~{layout/header::header}"></th:block>
				
				<div style="margin-bottom:55px"></div><!-- fixed-top일때 -->
				<!-- 상단 네비게이션 끝 -->
				<!--  컨텐츠 시작 -->
				
				<fieldset class="border rounded-3 p-3">
					<legend class="float-none w-auto px-3">어노테이션</legend>
					<h1 class="display-4">@RequestMapping/@PathVariable</h1>
					<h5>@RequestMapping("/요청 URL") : 모든 HTTP메소드 요청 처리 가능</h5>
					<form th:action="@{/annotation/requestMappingAll.do}" method="post">
					  <div class="row">
					    <div class="col">
					      <input type="text" class="form-control" placeholder="아이디 입력?" name="username">
					    </div>
					    <div class="col">
					      <input type="password" class="form-control" placeholder="비번 입력?" name="password">
					    </div>
					    <div class="col-auto">
					      <input type="submit" class="btn btn-info" value="로그인"/>
					    </div>
					  </div>
					</form>
					<h5>@RequestMapping(value="/요청 URL",method=RequestMethod.GET) : HTTP메소드중 하나만 요청처리</h5>
					<form th:action="@{/annotation/requestMappingOne.do}" method="get">
					  <div class="row">
					    <div class="col">
					      <input type="text" class="form-control" placeholder="아이디 입력?" name="username">
					    </div>
					    <div class="col">
					      <input type="password" class="form-control" placeholder="비번 입력?" name="password">
					    </div>
					    <div class="col-auto">
					      <input type="submit" class="btn btn-danger" value="로그인"/>
					    </div>
					  </div>
					</form>
					<kbd th:unless="${authInfo==null}">[[${authInfo}]]</kbd>
					<h1 class="display-4">@RequestParam</h1>
					<!-- 
				  	예
					//[컨트롤러 메소드]
				  	public String 메소드(@RequestParam 자료형 매개변수){
				  
				  	}
				
				    단, 파라미터명과  매개변수명이 일치하지 않은 경우
				 	@RequestParam("파라미터명") 자료형 매개변수명
				   
					- 해당 파라미터의 자료형으로 받을 수 있다 즉 형변환 불필요
					- 여러개 일때는 자료형을 Map으로   
					-->
					<span class="text-danger" th:text="${errorMsg}?:_">에러 메시지가 있는 경우</span>
					<h5>파라미터명과 매개변수명 일치시</h5>
					<form th:action="@{/annotation/requestParamEqual.do}" method="post">
					  <div class="row">
					    <div class="col">
					      <input type="text" class="form-control" placeholder="이름 입력?" name="name">
					    </div>
					    <div class="col">
					      <input type="text" class="form-control" placeholder="나이 입력?" name="age">
					    </div>
					    <div class="col-auto">
					      <input type="submit" class="btn btn-danger" value="로그인"/>
					    </div>
					  </div>
					</form>
					
					<h5>파라미터명과 매개변수명 불 일치시</h5>				
					<form th:action="@{/annotation/requestParamDiff.do}" method="post">
					  <div class="row">
					    <div class="col">
					      <input type="text" class="form-control" placeholder="이름 입력?" name="nickname">
					    </div>
					    <div class="col">
					      <input type="text" class="form-control" placeholder="나이 입력?" name="years">
					    </div>
					    <div class="col-auto">
					      <input type="submit" class="btn btn-success" value="로그인"/>
					    </div>
					  </div>
					</form>					
					<kbd th:if="${not #strings.isEmpty(name)}">이름:[[${name}]],10년후 나이:[[${age}]]</kbd>
					<h5>맵으로 모든 파라미터 받기</h5>
					<form th:action="@{/annotation/requestParamMap.do}" method="post">
					  <div class="row">
					    <div class="col">
					      <input  type="text" class="form-control" placeholder="아이디 입력?" name="username" th:value="${param.username}">
					    </div>
					    <div class="d-flex my-3">
						    <div class="form-check">
							  <input class="form-check-input" type="checkbox"  name="inter" value="정치" th:checked="${inter != null and #strings.indexOf(inter,'정치')!=-1}">
							  <label class="form-check-label">정치</label>
							</div>
							<div class="form-check">
							
							  <input class="form-check-input" type="checkbox"  name="inter" value="경제" th:checked="${inter != null and #strings.indexOf(inter,'경제')!=-1}">
							  <label class="form-check-label">경제</label>
							</div>
							<div class="form-check">
							  <input class="form-check-input" type="checkbox"  name="inter" value="스포츠" th:checked="${inter != null and #strings.indexOf(inter,'스')!=-1}">
							  <label class="form-check-label">스포츠</label>
							</div>
						</div>
						<div class="d-flex mb-3">					   
							<div class="form-check">
							  <input class="form-check-input" type="radio"  name="gender" value="남자" th:checked="${gender != null and #strings.equals(gender,'남자')}"/>
							  <label class="form-check-label">남자</label>
							</div>
							<div class="form-check">
							  <input class="form-check-input" type="radio"  name="gender" value="여자" th:checked="${gender != null and #strings.equals(gender,'여자')}">
							  <label class="form-check-label">여자</label>
							</div>
						</div>
					    <div class="col-auto">
					      <input type="submit" class="btn btn-dark" value="로그인"/>
					    </div>
					  </div>
					</form>
					<kbd th:if="${gender != null}">|아이디:[[${username}]],성별:[[${gender}]],관심사항:[[${inter}]]|</kbd>
					<h1 class="display-5">@ModelAttribute</h1>
					<form th:action="@{/annotation/modelAttribute.do}" method="post">
						<div class="mb-3 mt-3">
							<label for="name" class="form-label">이름</label> <input
								type="text" class="form-control" id="name"
								placeholder="이름 입력" name="name">
						</div>
						<div class="mb-3">
							<label for="pwd" class="form-label">비밀번호</label> <input
								type="password" class="form-control" id="pwd"
								placeholder="비밀번호 입력" name="password">
						</div>
	
						<div class="mb-3">
							<label class="form-label">성별</label>
							<div class="d-flex">
								<div class="form-check">
									<input type="radio" class="form-check-input" id="radio1"
										name="gender" value="남자"> <label
										class="form-check-label" for="radio1">남자</label>
								</div>
								<div class="form-check mx-3">
									<input type="radio" class="form-check-input" id="radio2"
										name="gender" value="여자"> <label
										class="form-check-label" for="radio2">여자</label>
								</div>
								<div class="form-check">
									<input type="radio" class="form-check-input" id="radio3"
										name="gender" value="트랜스젠더"> <label class="form-check-label"
										for="radio3">트랜스젠더</label>
								</div>
							</div>
							<div class="my-3">
								<label class="form-label">관심사항</label>
								<div class="d-flex">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="check1"
											name="inter" value="정치"> <label
											class="form-check-label" for="check1">정치</label>
									</div>
									<div class="form-check mx-3">
										<input type="checkbox" class="form-check-input" id="check2"
											name="inter" value="경제"> <label
											class="form-check-label" for="check2">경제</label>
									</div>
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="check3"
											name="inter" value="스포츠"> <label
											class="form-check-label" for="check3">스포츠</label>
									</div>
									<div class="form-check mx-3">
										<input type="checkbox" class="form-check-input" id="check4"
											name="inter" value="연예"> <label
											class="form-check-label" for="check4">연예</label>
									</div>
								</div>
							</div>
							<label for="sel1" class="form-label">학력사항</label> <select
								class="form-select" id="sel1" name="grade">
								<option value="" >학력을 선택하세요</option>
								<option value="ele" th:selected="${! #strings.isEmpty(grade) and #strings.contains(grade,'e')}">초등학교</option>
								<option value="mid" th:selected="${! #strings.isEmpty(grade) and #strings.contains(grade,'m')}">중학교</option>
								<option value="hig" th:selected="${! #strings.isEmpty(grade) and #strings.contains(grade,'h')}">고등학교</option>
								<option value="uni" th:selected="${! #strings.isEmpty(grade) and #strings.contains(grade,'u')}">대학교</option>
							</select>
							<div class="my-3">
								<label for="file" class="form-label">첨부파일</label> <input
									type="file" class="form-control" id="file" name="file">
							</div>
							<label for="comment">자기소개</label>
							<textarea class="form-control" rows="5" id="comment" name="self"></textarea>
	
						</div>
						<button type="submit" class="btn btn-warning">확인</button>
					</form>
					<h1 class="display-5">DI와 관련된 어노테이션</h1>
					<h5>@Autowired(의존성 주입 어노테이션)</h5>
					<a th:href="@{/annotation/autowired.do}">오토 와이어링</a>
					<h5>@Lazy(지연로딩을 위한 어노테이션)</h5>
					<a th:href="@{/annotation/lazy.do}">지연 로딩</a>
					<h5>@Configuration(스프링 컨테이너에 등록할 빈을 자바코드로 작성할 경우 사용하는 어노테이션)</h5>
					<a th:href="@{/annotation/configuration.do}">자바코드로 빈 등록</a>
					<hr/>
					<kbd th:if="${message!=null}">[[${message}]]</kbd>
					
					<h1 class="display-5">기타 어노테이션</h1>
					<h5>@SessionAttribute(세션으로 인증 처리를 위한 어노테이션)</h5>
					<th:block th:if="${session.username == null and session.member==null}">
						<form th:action="@{/annotation/login.do}" method="post">
						  <div class="row">
						    <div class="col">
						      <input type="text" class="form-control" placeholder="아이디 입력?" name="username">
						    </div>
						    <div class="col">
						      <input type="password" class="form-control" placeholder="비번 입력?" name="password">
						    </div>
						    <div class="col-auto">
						      <input type="submit" class="btn btn-danger" value="로그인"/>
						    </div>
						  </div>
						</form>
					</th:block>
					<kbd th:if="${loginError != null}" th:text="${loginError}"></kbd>
					<hr/>
					<a th:href="@{/annotation/isLogin.do}">로그인 여부 판단</a>
					<kbd th:if="${checkLogin != null}" th:text="${checkLogin}"></kbd>
					<hr/>
					<th:block th:if="${session.username != null or session.member!=null}">
						<kbd>세션 영역 : [[${session.username==null?session.member.username:session.username}]]</kbd>
						<hr/>
						<kbd>리쿼스트 영역 영역 : [[${username==null?member.username:username}]]</kbd>
						<hr/>						
						<a th:href="@{/annotation/logout.do}">로그아웃</a>
					</th:block>
					<h5>@ResponseBody(응답 바디에 출력을 위한 어노테이션)</h5>
					<a th:href="@{/annotation/responsebody.do}">응답 바디</a>
					<h5>@RequestBody(요청 바디에 포함된 JSON형식의 데이타를 서버(컨트롤러)에서 읽기 위한 어노테이션)</h5>
					<h6 class="text-danger">서버로 Key=Value쌍으로 데이타 보내기</h6>
					
					<kbd>A태그</kbd> <a th:href="@{/annotation/requestBodyLink.do?username=ICT&password=ICT1234}">Key=Value로 보내기</a>
					<form action="/annotation/requestBodyForm.do" method="post" >
					  <div class="row">
					    <div class="col">
					      <input type="text" id="username" class="form-control" placeholder="Enter Username?" name="username">
					    </div>
					    <div class="col">
					      <input type="password" id="password" class="form-control" placeholder="Enter Password?" name="password">
					    </div>
					    <div class="col-auto">
					      <input type="submit" class="btn btn-dark" value="LOGIN"/>
					    </div>
					  </div>
					</form>
					<hr/>
					<h6 class="text-danger">서버로 JSON타입의 데이타 보내기(데이타는 위의 폼에 입력)</h6>
					<a href="javascript:json(1)">서버에서는 @RequestBody로 받기.요청 헤더:Content-Type=application/json)(잘 받는다)</a>
					<hr/>					
					<a href="javascript:json(2)">서버에서는 @RequestBody로 받기.요청 헤더:Content-Type=x-www-form-urlencoded)(415에러-axios는 정상)</a>
					<hr/>
					<kbd class="username invisible" ></kbd>				
					<kbd class="password invisible"></kbd>
					
					<h5>@RequestHeader(요청헤더를 읽기 위한 어노테이션)</h5>
					<a href="/annotation/requestHeader.do">요청헤더</a>
					<hr/>
					<kbd th:if="${userAgent !=null}">[[${userAgent}]]</kbd>
				</fieldset>							
				<!--  컨텐츠 끝 -->
				<!-- 푸터 시작 -->
				<th:block th:replace="~{layout/footer::footer}"></th:block>
				<!-- 푸터 끝 -->
			</div><!-- container-fluid -->
		</div><!-- container -->
		<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
		<script th:inline="javascript">
			//※서버에 key=value형식이 아닌 json형식으로 데이타 보내기
			const username=document.querySelector("#username");
			const password=document.querySelector("#password");
			
			
			function json(flag){	
				const data={'username':username.value,password:password.value};
				console.log('data:',data);//data는 JSON객체
				//1.jQuery Ajax사용;
				//https://api.jquery.com/jquery.ajax/
				/*
				$.ajax({
					url:'/annotation/requestBody.do',
					method:'POST',
					data:JSON.stringify(data),			
					contentType:"application/json",
					dataType:'json'
					
				}).done(data=>{				
					console.log('서버에서 받은 데이타:',data);
					console.log('아이디:%s,비번:%s',data.username,data.password);
				}).fail(e=>{
					console.log('에러발생:',e);
				});*/
				
				//2. fetch자바스크립트 함수 사용
				//   모듈을 임포트할 필요 없다. 바니라 자바스크립트에서 제공하는 함수
				//https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API
				//Key=Value쌍(JSON객체)으로 보내기
				
				fetch('/annotation/requestBodyForm.do',
						{	method:'POST',
							headers:{'Content-Type':'application/x-www-form-urlencoded'},
							body:data
				})
				/*
				//JSON형식의 문자열 데이타로 보내기
				/*
				let headers={'Content-Type':'application/json'};
				if(flag===2) headers={'Content-Type':'application/x-www-form-urlencoded'};
				
				fetch([[@{/annotation/requestBodyJson.do}]],
						{	method:'POST',
							headers:headers,
							body:JSON.stringify(data)
				})*/
				.then(resp=>resp.json())
				.then(data=>{
					console.log('서버로 부터 받은 데이타:',data);					
					document.querySelector('.username').textContent=`아이디는 ${data.username}`;
					document.querySelector('.password').textContent=`비번는 ${data.password}`;
					document.querySelector('.username').setAttribute('class','username');
					document.querySelector('.password').setAttribute('class','password');
				});*/
				
				
			   	//3.axios 모듈 사용 - https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js모듈 임베딩 필요
				//https://axios-http.com/kr/docs/intro
				/*
				axios.post('/annotation/requestBody.do',data)
				.then(resp=>{
						console.log(resp);
						console.log('서버로 부터 받은 데이타:',data);					
						document.querySelector('.username').textContent=`아이디는 ${data.username}`;
						document.querySelector('.password').textContent=`비번는 ${data.password}`;
						document.querySelector('.username').setAttribute('class','username');
						document.querySelector('.password').setAttribute('class','password');
					})		
				.catch(err=>console.error(err));*/
			    
			}///			
		
		</script>
	</body>
</html>