<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>modelAttribute.html</title>		
		<th:block th:replace="~{layout/config::config}"></th:block>
		<link rel="stylesheet" th:href="@{styles/common.css}">
	</head>
	<body>
		<div class="container">
			<div class="container-fluid">
				<th:block th:replace="~{layout/header::header}"></th:block>
				
				<div style="margin-bottom:55px"></div><!-- fixed-top일때 -->
				<!-- 상단 네비게이션 끝 -->
				<!--  컨텐츠 시작 -->
				
				<fieldset class="border rounded-3 p-3">
					<legend class="float-none w-auto px-3">어노테이션</legend>
					<h1 class="display-6" >@ModelAttribute 출력</h1>
				
					<div class="mb-3 mt-3">
						<label for="name" class="form-label">이름</label> <input
							type="text" class="form-control" id="name"
							placeholder="이름 입력" name="name" th:value="${name==null?cmd.name:name}">
					</div>
					<div class="mb-3">
						<label for="password" class="form-label">비밀번호</label> <input
							type="text" class="form-control" id="password"
							placeholder="비밀번호 입력" name="password" th:value="${password==null?cmd.password:password}">
					</div>
					<div class="mb-3">
						<label class="form-label">성별</label>
						<div class="d-flex">
							<div class="form-check">
								<input type="radio" class="form-check-input" id="radio1"
									name="gender" value="남자" th:checked="${gender ==null?#strings.equals(cmd.gender,'남자'):#strings.equals(gender,'남자')}"> <label
									class="form-check-label" for="radio1" >남자</label>
							</div>
							<div class="form-check mx-3">
								<input type="radio" class="form-check-input" id="radio2"
									name="gender" value="여자" th:checked="${gender ==null?#strings.equals(cmd.gender,'여자'):#strings.equals(gender,'여자')}"> <label
									class="form-check-label" for="radio2">여자</label>
							</div>
							<div class="form-check">
								<input type="radio" class="form-check-input" id="radio3"
									name="gender" value="트랜스젠더" th:checked="${gender ==null?#strings.equals(cmd.gender,'트랜스젠더'):#strings.equals(gender,'트랜스젠더')}"> <label class="form-check-label"
									for="radio3">트랜스젠더</label>
							</div>
						</div>
						<div class="my-3">
							<label class="form-label">관심사항</label>
							<div class="d-flex">
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="check1"
										name="inter" value="정치" th:checked="${inter ==null?#strings.indexOf(cmd.inter,'정치')!=-1:#strings.indexOf(inter,'정치')!=-1}"> <label
										class="form-check-label" for="check1">정치</label>
								</div>
								<div class="form-check mx-3">
									<input type="checkbox" class="form-check-input" id="check2"
										name="inter" value="경제" th:checked="${inter ==null?#strings.indexOf(cmd.inter,'경')!=-1:#strings.indexOf(inter,'경')!=-1}"> <label
										class="form-check-label" for="check2">경제</label>
								</div>
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="check3"
										name="inter" value="스포츠" th:checked="${inter ==null?#strings.indexOf(cmd.inter,'스')!=-1:#strings.indexOf(inter,'스')!=-1}"> <label
										class="form-check-label" for="check3">스포츠</label>
								</div>
								<div class="form-check mx-3">
									<input type="checkbox" class="form-check-input" id="check4"
										name="inter" value="연예" th:checked="${inter ==null?#strings.indexOf(cmd.inter,'연예')!=-1:#strings.indexOf(inter,'연예')!=-1}"> <label
										class="form-check-label" for="check4">연예</label>
								</div>
							</div>
						</div>
						<label for="sel1" class="form-label">학력사항</label> <select
							class="form-select" id="sel1" name="grade">							
							<option value="ele" th:selected="${#strings.isEmpty(grade)?#strings.contains(cmd.grade,'e'):#strings.contains(grade,'e')}">초등학교</option>
							<option value="mid" th:selected="${#strings.isEmpty(grade)?#strings.contains(cmd.grade,'m'):#strings.contains(grade,'m')}">중학교</option>
							<option value="hig" th:selected="${#strings.isEmpty(grade)?#strings.contains(cmd.grade,'h'):#strings.contains(grade,'h')}">고등학교</option>
							<option value="uni" th:selected="${#strings.isEmpty(grade)?#strings.contains(cmd.grade,'u'):#strings.contains(grade,'u')}">대학교</option>
						</select>
						<div class="my-3">
							<label for="file" class="form-label">첨부파일</label> <input
								type="file" class="form-control" id="file" name="file"/>[[${file==null?cmd.file:file}]]
						</div>
						<label for="comment">자기소개</label>
						<textarea class="form-control" rows="5" id="comment" name="self">[[${self==null?cmd.self:self}]]</textarea>
					</div>
				</fieldset>							
				<!--  컨텐츠 끝 -->
				<!-- 푸터 시작 -->
				<th:block th:replace="~{layout/footer::footer}"></th:block>
				<!-- 푸터 끝 -->
			</div><!-- container-fluid -->
		</div><!-- container -->
	</body>
</html>