<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>thymeleaf.html</title>		
		<th:block th:replace="~{layout/config::config}"></th:block>
	</head>
	<body>
		<div class="container">
			<div class="container-fluid">
				<th:block th:replace="~{layout/header::header}"></th:block>
				
				<div style="margin-bottom:55px"></div><!-- fixed-top일때 -->
				<!-- 상단 네비게이션 끝 -->
				<!--  컨텐츠 시작 -->
				
				<fieldset class="border rounded-3 p-3">
					<legend class="float-none w-auto px-3">타임리프 기초</legend>
					<!-- https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#appendix-a-expression-basic-objects -->
					
					
					<h1 class="display-6">표준 표현식</h1>
					<ul class="list-group list-group-numbered">
						<li class="list-group-item"><a th:href="@{/variable.do}">변수 표현식(${})</a> <span th:text="${variable}" class="text-danger"></span></li>
						<li class="list-group-item">
							<a th:href="@{/selections.do}">선택자 표현식(*{})</a>
							
							<h4>*{} 미 사용시-th:text속성 사용</h4>
							<span class="text-danger" th:if="${user != null}" th:text="|아이디 : ${user.username},비번 : ${user.password}|">
								여기에 아이디와 비번을 뿌려줍니다
							</span>
							
							<h4>*{} 미 사용시-인라인 표현식 사용</h4>
							<span class="text-danger" th:if="${user != null}" th:object="${user}">
								아이디 : [[${user.username}]],비번 : [[${user.password}]]
							</span>
							<h4>*{} 사용시-인라인 표현식 사용</h4>
							<span class="text-danger" th:if="${user != null}" th:object="${user}">
								아이디 : [[*{username}]],비번 : [[*{password}]]
							</span>
						</li>
						<li class="list-group-item">
							메시지 표현식(#{}:messages.properties파일의 키로 읽기)
							<!-- application.yml의 spring.messages.basename에 설정한 디렉토리에 
							     messages.properties파일 작성(디폴트 디렉토리는 src/main/resources/messages.properties) -->
							<span class="text-danger" th:text="#{thymeleaf.version}">타임리프 버전</span>
						</li>
						<li class="list-group-item">
							환경 설정파일(application.yml)의 키로 읽기
							<span class="text-danger" th:text="${@environment.getProperty('spring.messages.basename')}"></span><br/>
							사용자 정의 키
							<span class="text-danger" th:text="${@environment.getProperty('mykey.yourkey.wekey')}"></span>
						</li>
						<li class="list-group-item">
							<a th:href="@{/linkNoParam.do}">링크 표현식(@{}:파라미터 미 전달)</a>
							<span class="text-danger" th:text="${noParameter}"></span>
						</li>
						<li class="list-group-item">
							<!-- 쿼리스트링으로 URL생성
							     http://localhost:8080/linkParam.do?template=Thymeleaf&framework=Springboot
							 -->
							<a th:href="@{/linkParam.do(template='Thymeleaf',framework='Springboot')}">링크 표현식(@{}:파라미터 전달)</a>
							<span class="text-danger" th:text="${parameter}"></span>
						</li>
						
					</ul>
					<h1 class="display-6">Literal</h1>
					<ul class="list-group list-group-numbered">
						<li class="list-group-item">
							<h6>텍스트 리터럴( | : 파이프라인 미사용)</h6>							
							<span class="text-danger" th:text="'Thymeleaf 입니다'"></span><br/>
							<h6>텍스트 리터럴( | : 파이프라인 사용)</h6>							
							<span class="text-danger" th:text="|Thymeleaf 입니다|"></span>
						</li>
						<li class="list-group-item">
							<h6>숫자 리터럴</h6>							
							<code>π</code>는 <span class="text-danger" th:text="3.14"></span>입니다
							
						</li>
						<li class="list-group-item">
							<h6>부울 리터럴</h6>														
							<span class="text-danger" th:text="(10 % 2==0) == false"></span>							
						</li>
						<li class="list-group-item">
							<h6>널 리터럴</h6>
							<!-- https://www.thymeleaf.org/doc/tutorials/3.1/usingthymeleaf.html#base-objects -->							
							<span class="text-danger" th:text="${param.username==null}"></span>							
						</li>
						<li class="list-group-item">
							<!-- 'hello thymeleaf'는 텍스트 리터럴 -->	
							<h6>텍스트 리터럴</h6>					
							<span class="text-danger" th:text="${'hello thymeleaf'}"></span>
							<h6>Literal Tokens</h6>								
							<!--  hellothymeleaf 는 리터럴 토큰 -->
							<span class="text-danger" th:text="hellothymeleaf"></span>	
							<!--  Could not parse as expression: "hello thymeleaf" -->
							<!-- /* 
							<span class="text-danger" th:text="hello thymeleaf"></span>
							*/-->						
						</li>
						
						<li class="list-group-item">
							<a th:href="@{/pipeline.do}">문자열 연결</a>
							<h6>텍스트 리터털+변수 표현식(변수 표현식이 실행됨)</h6>						
							<span class="text-danger" th:text="'Thymeleaf is SSL,it is '+${render}"></span>
							<!-- ${render}는 일반 문자열로 처리 즉 서버측에서 실행되어 결과값으로 변환된지 않는다 -->
							<h6>텍스트 리터털 안에 변수 표현식(변수 표현식이 일반 텍스트로 처리됨)</h6>
							<span class="text-danger" th:text="'Thymeleaf is SSL,it is ${render}'"></span>
							<h6>파이프라인 안에 변수 표현식(변수 표현식이 실행됨)</h6>
							<span class="text-danger" th:text="|Thymeleaf is SSL,it is ${render}|"></span>											
						</li>						
					</ul>
					<h1 class="display-6">산술 연산자</h1>
					<ul class="list-group list-group-numbered">
						<li class="list-group-item">
							<code>+</code> <span th:text="10+5"></span>
						</li>
						<li class="list-group-item">
							<code>-</code> <span th:text="10-5"></span>
						</li>
						<li class="list-group-item">
							<code>*</code> <span th:text="10*5"></span>
						</li>
						<li class="list-group-item">
							<code>/</code> <span th:text="10/5"></span>
						</li>
						<li class="list-group-item">
							<code>%</code> <span th:text="10%5"></span>
						</li>
						<li class="list-group-item">
							<code>%</code> <span th:text=" 10 % 5 "></span>
						</li>
						
						<li class="list-group-item">
							Parse Error  <span /*th:text=" ten mod five "*/></span>
						</li>
						
					</ul>
					<h1 class="display-6">비교 연산자</h1>
					<ul class="list-group list-group-numbered">
						<li class="list-group-item">
							<code>&gt;(혹은 gt)</code> <span th:text="10>5"></span>
						</li>
						<li class="list-group-item">
							<code>&gt;=(혹은 ge)</code> <span th:text="10>=5"></span>
						</li>
						<li class="list-group-item">
							<code>&lt;(혹은 lt)</code> <span th:text="10 lt 5"></span>
						</li>
						<li class="list-group-item">
							<code>&lt;=(혹은 le)</code> <span th:text="10<=5"></span>
						</li>
						<li class="list-group-item">
							<code>==(혹은 eq)</code> <span th:text="10==5"></span>
						</li>
						<li class="list-group-item">
							<code>!= (혹은 ne)</code> <span th:text="10 ne 5"></span>
						</li>
						<!-- 기호 대신 약어 사용시는 반드시 공백으로 구분 -->	
						<li class="list-group-item">
							<code>!= (혹은 ne)</code> <span th:text="10ne5"></span>
						</li>						
						
					</ul>
					
					<h1 class="display-6">논리 연산자</h1>
					<ul class="list-group list-group-numbered">
						<li class="list-group-item">
							<code>and</code> <span th:text="10 + 5 gt 10 and 10 >=10"></span>
						</li>
						<li class="list-group-item">
							<code>or</code> <span th:text="10+5 lt 10 or 10 le 10"></span>
						</li>
						<li class="list-group-item">
							<code>not(혹은 !)</code> <span th:text="not (10 lt 5)"></span>
						</li>						
					</ul>
					<h1 class="display-6">조건부 연산자</h1>
					<ul class="list-group list-group-numbered">
						<li class="list-group-item">
							<code>(if) ? (then)</code> <span th:text="10 % 2==0 ?'짝수'"></span>
						</li>
						<li class="list-group-item">
							<code>(if) ? (then)</code> <span th:text="10 % 2!=0 ?'홀수'"></span>
						</li>
						<li class="list-group-item">
							<code>(if) ? (then) : (else)</code> <span th:text="10 % 2!=0 ?'짝수':'홀수'"></span>
						</li>	
						<li class="list-group-item">
							<!-- 
								?:(엘비스 연산자) 앞의 표현식의 값이 널이 아니면 그 값을 그대로 표현하고
								널이면 디폴트값을 출력한다
						 	-->
							<code>(value) ?: (defautValue)</code> <span th:text="${param.username}?:'널입니다'"></span>
						</li>	
						<li class="list-group-item">
							<!-- 
								No-operation (_)
								?:(엘비스 연산자) 앞의 표현식의 값이 널이 아니면 그 값을 그대로 표현하고
								널이면 아무 동작도 안한다
						 	-->
							<code>(value) ?: _</code> <span th:text="${param.username}?:_">username is null</span>
						</li>						
					</ul>
					
					<h1 class="display-6">인라인 표현식</h1>
					<!-- 위 조건부 표현식을 인라인 표현식으로 변경 -->
					<ul class="list-group list-group-numbered">
						<li class="list-group-item">
							<code>(if) ? (then)</code> <span>[[10 % 2==0 ?'짝수']]</span>
						</li>
						<li class="list-group-item">
							<code>(if) ? (then)</code> <span>[[10 % 2!=0 ?'홀수']]</span>
						</li>
						<li class="list-group-item">
							<code>(if) ? (then) : (else)</code> <span>[[10 % 2!=0 ?'짝수':'홀수']]</span>
						</li>	
						<li class="list-group-item">							
							<code>(value) ?: (defautValue)</code> <span>[[${param.username}?:'널입니다']]</span>
						</li>	
						<li class="list-group-item">							
							<code>(value) ?: _</code> <span>[[${param.username}?'':'username is null']]</span>
						</li>						
					</ul>
					<h1 class="display-6">if문(표현식이 true인 경우 출력시)</h1>
					<!--if문이 참이면 span요소가 보이고 거짓이면 span 요소가 사라진다  -->
					<span class="text-danger" th:if="${10 % 2 !=0}">짝수다</span>
					<h1 class="display-6">unless문(표현식이 false인 경우 출력시)</h1>
					<!--unless문이 거짓이면 span요소가 보이고 참이면 span 요소가 사라진다  -->
					<span class="text-danger" th:unless="${10 % 2 !=0}">짝수다</span>
					<h1 class="display-6">if/unless문(둘중에 하나 출력시)</h1>					
					<ul class="list-group list-group-numbered">
						<li class="list-group-item">
							<!-- 파라미터 전달:쿼리스트링으로 전달 -->
							<a th:href="@{/ifunless.do?age=20&username=ict}">if/unless</a>
							<h6>컨트롤러에서 저장한 데이타</h6>
							<!-- 컨트롤러에서 나이를 int로 받아서 저장했기 때문에 숫자 대소 비교 가능 -->
							<span class="text-danger" th:if="${age != null and age >=20}">성인 입니다(비교 연산자 사용해서 숫자 비교)</span><br/>							
							<span class="text-danger" th:unless="${age != null and age >= 20}">미성년자 입니다(unless)</span><br/>
							<!-- 컨트롤러에서 저장한 문자열 데이타는 == 혹은 strings.equals() 비교 가능  -->
							<span class="text-danger" th:if="${username != null and username=='ict'}">회원입니다(== 사용해서 문자열 비교)</span><br/>
							<span class="text-danger" th:if="${username != null and #strings.equals(username,'ict')}">회원입니다(#strings유틸리티 객체 사용해서 문자열 비교)</span><br/>
							<h6>param 유틸리티 객체로 받은 값</h6>
							<!-- 문자열 비교시 반드시  strings.equals() 비교-->
							<span class="text-danger" th:if="${param.username != null and param.username=='ict'}">회원입니다(== 사용해서 문자열 비교)</span><br/>
							<span class="text-danger" th:if="${param.username != null and #strings.equals(param.username,'ict')}">회원입니다(#strings유틸리티 객체 사용해서 문자열 비교)</span><br/>
							<!-- 숫자 비교시 문자열로 처리됨으로 컨트롤러에서 숫자로 변경 후 데이타를 저장하거나 혹은  #conversions유틸리티 객체로 변환 후 숫자 비교 -->						
							
							<span class="text-danger" th:if="${param.age != null and #conversions.convert(param.age, 'java.lang.Integer') >=20}">성인 입니다(타임리프의 유틸리티 객체로 Integer타입으로 컨버전)</span>
							<span>파라미터로 받은 나이:[[${param.age}]]</span>
							<!--/* 
								Cannot compare instances of class org.thymeleaf.context.WebEngineContext$RequestParameterValues and class java.lang.Integer
								<span class="text-danger" th:if="${param.age != null and param.age >=20}">성인 입니다(타임리프의 유틸리티 객체로 컨버전 하지 않음)</span>
							 */-->
							
						</li>
					</ul>
					<h1 class="display-6">switch/case문(여러개 중에 하나 출력시)</h1>	
					<form method="post" th:action="@{/switch.do}">
						<div class="row">
							<div class="col">
								<input type="number" class="form-control" placeholder="국어?"
									name="kor">
							</div>
							<div class="col">
								<input type="number" class="form-control" placeholder="영어?"
									name="eng">
							</div>
							<div class="col">
								<input type="number" class="form-control" placeholder="수학?"
									name="math">
							</div>
							<div class="col-auto">
								<input type="submit" class="btn btn-danger" value="확인" />
							</div>
						</div>
					</form>
					<!-- ※case에는 반드시 하나의 값이 와야 한다.
					       단,범위를 지정시는 th:switch="true"지정  -->
					       
					<!-- 이산적인 값으로 분기시 -->
					<!-- /* 
					<th:block th:if="${kor !=null}">
						<th:block th:with="avg = ${(#conversions.convert(kor,'java.lang.Integer')+#conversions.convert(math,'java.lang.Integer')+#conversions.convert(eng,'java.lang.Integer'))/30}" th:switch="${avg}">
							<span th:case="10">A학점</span>
							<span th:case="9">A학점</span>
							<span th:case="8">B학점</span>
							<span th:case="7">C학점</span>
							<span th:case="6">D학점</span>
							<span th:case="*">F학점</span>
						</th:block>
					</th:block>
					*/-->
					<!-- 범위 값으로 분기시 -->
					<th:block th:if="${kor !=null}">
						<th:block th:with="avg = ${(#conversions.convert(kor,'java.lang.Integer')+#conversions.convert(math,'java.lang.Integer')+#conversions.convert(eng,'java.lang.Integer'))/3}">
							<th:block th:switch="true">
								<span th:case="${avg>=90}">A학점</span>							
								<span th:case="${avg>=80}">B학점</span>
								<span th:case="${avg>=70}">C학점</span>
								<span th:case="${avg>=60}">D학점</span>
								<span th:case="*">F학점</span>
							</th:block>
						</th:block>					
					</th:block>
					<h1 class="display-6"><a th:href="@{/each.do}">each문(반복문)</a></h1>	
					<table class="table table-dark table-hover">
						<thead class="table-dark">
							<tr>
								<th>아이디</th>
								<th>비밀번호</th>
								<th>이름</th>
								<th>가입일</th>
							</tr>
						</thead>
						<tbody>
							<!-- th:block에 th:each으로 tr전체를 반복 혹은 tr태그에 th:each로 반복 -->
							
							<tr th:if="${#lists.isEmpty(users)}">
								<td colspan="4">가입한 회원이 없어요</td>						
							</tr>
							<!-- 유니크한 id 속성 부여시: th:id="|user${userStat.count}|" -->
							<!-- 아래는  #ids 유틸리티 객체 사용 -->
							<tr th:unless="${#lists.isEmpty(users)}" th:each="user:${users}" th:id="${#ids.seq('user')}" th:title="|user${userStat.count}|">					
								<td>[[${user.username}]]</td>
								<td th:text="${user['password']}">1234</td>
								<td th:text="${user.getName()}">ICT인</td>
								<td th:text="${#strings.substring(user.regidate,0,10)}">2024.2.5</td>
							</tr>
							
						</tbody>
				</table>
				<h1 class="display-6">반복 상태 변수</h1>
				<ul class="list-group list-group-numbered" >
					
					<li class="list-group-item" th:each="user,loop:${users}">
						index 속성 : [[${loop.index}]],
						count 속성 : [[${loop.count}]],
						size 속성 : [[${loop.size}]],
						even 속성 : [[${loop.even}]],
						odd 속성 : [[${loop.odd}]],
						first 속성 : [[${loop.first}]],
						last 속성 : [[${loop.last}]],
						current 속성 : [[${loop.current}]]					
					
					</li>
				</ul>
				
				<h1 class="display-6"><a th:href="@{/beanandmap.do}">자바빈 및 맵 컬렉션 접근</a></h1>
				<h4>자바빈 객체</h4>
				<ul class="list-group list-group-numbered" th:if="${ user !=null }"> 					
					<li class="list-group-item" >아이디 : [[${user.username}]]</li>
					<li class="list-group-item" >비번 : [[${user['password']}]]</li>
					<li class="list-group-item" >이름 : [[${user.name}]]</li>
				</ul>
				<h4>맵 컬렉션 객체</h4>
				<ul class="list-group list-group-numbered" th:if="${ map !=null }">					
					<li class="list-group-item" >아이디 : [[${map.username}]]</li>
					<li class="list-group-item" >비번 : [[${map.password}]]</li>
					<li class="list-group-item" >이름 : [[${map['name']}]]</li>
				</ul>
				<h1 class="display-6">표현식 Base 및 Utility객체</h1>
				<ul class="list-group list-group-numbered"> 
					<!-- 타임리프의 Base Object -->					
					<li class="list-group-item" >param객체 : [[${param.username}]]</li>
					<li class="list-group-item" >session객체 : [[${session.username}]]</li>
					<li class="list-group-item" >application객체 : [[${application.username}]]</li>
					<!-- 타임리프의 Utility Object:객체앞에 #을 붙인다 -->
					<li class="list-group-item" >dates객체(format()) : [[${#dates.format(dates,'yyyy-MM-dd a HH')}]]</li>
					<li class="list-group-item" >dates객체(createNow()) : [[${#dates.createNow()}]]</li>
					<li class="list-group-item" >dates객체(createToday()) : [[${#dates.createToday()}]]</li>
					<li class="list-group-item" >temporals객체(format()) : [[${#temporals.format(temporals,'yyyy-MM-dd a HH')}]]</li>
					<li class="list-group-item" >temporals객체(createNow()) : [[${#temporals.createNow()}]]</li>
					<li class="list-group-item" >temporals객체(createToday()) : [[${#temporals.createToday()}]]</li>
					<!-- 원하는 포맷으로 숫자  출력시 -->
					<!-- 정수 처리는 formatInteger(),실수 처리는 formatDecimal()  -->
					<!-- 2은 정수의 최소 자리수:자리수 부족시 앞에 0을 채운다 -->
					<li class="list-group-item" >numbers객체(formatInteger(9,2)) : [[${#numbers.formatInteger(9,2)}]]</li>
					<li class="list-group-item" >numbers객체(formatInteger(1004,0)) : [[${#numbers.formatInteger(1004,0)}]]</li>
					<li class="list-group-item" >numbers객체(formatInteger(1004,0,'COMMA')) : [[${#numbers.formatInteger(1004,0,'COMMA')}]]</li>
					<!-- 0은 정수의 최소 자리수,2는 소수점 이하 자리수
				     COMMA부터 POINT순으로 작성하자
					-->
					<li class="list-group-item" >numbers객체(formatDecimal(1234.5678,0,'COMMA',2,'POINT')) : [[${#numbers.formatDecimal(1234.5678,0,'COMMA',2,'POINT')}]]</li>
					<li class="list-group-item" >
						<th:block th:each="i:${#numbers.sequence(1,6)}">
							<th:block th:utext="|<h${i}>제목${i}</h${i}>|">
							여기에 h1~h6까지 출력합니다
							</th:block>
						</th:block>
						
					</li>
					
					<!-- 원하는 포맷으로 문자열 출력시 -->
					<li class="list-group-item" >strings객체(isEmpty('문자열')) : [[${#strings.isEmpty('문자열')}]]</li>
					<!-- isEmpty():문자열이 null 혹은 ''면 true -->
					<li class="list-group-item" >strings객체(isEmpty('')) : [[${#strings.isEmpty('')}]]</li>
					<li class="list-group-item" >strings객체(isEmpty(null)) : [[${#strings.isEmpty(null)}]]</li>
					<li class="list-group-item" >strings객체(defaultString(null,'디폴트 문자열')) : [[${#strings.defaultString(null,'디폴트 문자열')}]]</li>
					<li class="list-group-item" >strings객체(escapeXml(escapeXml)) : [[${#strings.escapeXml(escapeXml)}]]</li>
					<li class="list-group-item" >strings객체(arrayJoin(#numbers.sequence(1,10),',')) : [[${#strings.arrayJoin(#numbers.sequence(1,10),',')}]]</li>
				</ul>
				
				</fieldset>							
				<!--  컨텐츠 끝 -->
				<!-- 푸터 시작 -->
				<th:block th:replace="~{layout/footer::footer}"></th:block>
				<!-- 푸터 끝 -->
			</div><!-- container-fluid -->
		</div><!-- container -->
		
		<!-- 자바 스크립트에서 타임리프의 인라인 표현식 사용 -->
		<script th:inline="javascript">
			/*
			th:inline="javascript" 속성 미 부여시
			console.log([[${session.username}]]);=>console.log(ICT); 자바스크립트 Syntax오류.ICT IS NOT DEFINED
			console.log("[[${session.username}]]");=>console.log("ICT"); 정상적으로 출력
			th:inline="javascript" 속성 부여시
			console.log("[[${session.username}]]");=>console.log(""ICT""); 자바스크립트 Syntax오류
			console.log([[${session.username}]]);=>console.log("ICT"); 정상적으로 출력
			*/
		
			console.log([[${session.username}]]);
			console.log('자바스크립트 출력 끝입니다');
		
		</script>
		
	</body>
</html>