<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>returnType.html</title>		
		<th:block th:replace="~{layout/config::config}"></th:block>
		<link rel="stylesheet" th:href="@{styles/common.css}">
	</head>
	<body>
		<div class="container">
			<div class="container-fluid">
				<th:block th:replace="~{layout/header::header}"></th:block>
				
				<div style="margin-bottom:55px"></div><!-- fixed-top일때 -->
				<!-- 상단 네비게이션 끝 -->
				<!--  컨텐츠 시작 -->
				
				<fieldset class="border rounded-3 p-3">
					<legend class="float-none w-auto px-3">컨트롤러 메소드의 반환타입</legend>
					<ul class="list-group list-group-numbered">						
						<li class="list-group-item"><a th:href="@{/returntype/modelandview.do(returntype='ModelAndView')}">ModelAndView 반환(모델 과 뷰 정보)</a></li>
						<li class="list-group-item"><a th:href="@{/returntype/string.do(returntype='String')}">String 반환(뷰 정보만)</a></li>
												
					</ul>
					<h1 class="display-6">html 페이지가 아닌 JSON 데이타 응답(@Controller 사용)</h1>
					<ul class="list-group list-group-numbered">		
						<li class="list-group-item"><button class="btn btn-info" id="ajax">방법1)반환타입:void,Ajax요청</button></li>
						<li class="list-group-item"><a th:href="@{/returntype/stringjson.do(returntype='String')}">방법2)반환타입:String 및 @ResponseBody 사용,No Ajax요청</a></li>
						<li class="list-group-item"><a href="javascript:print()">방법3)반환타입:자바빈 혹은 컬렉션 및 @ResponseBody 사용,Ajax요청</a></li>
					</ul>
					<h1 class="display-6">결과값 출력</h1>
					<ul class="list-group list-group-numbered">						
						<li class="list-group-item" th:text="${message}?:_">리퀘스트 영역 속성(message)</li>
						<li class="list-group-item" th:text="${returntype}?:_">리퀘스트 영역 속성(returntype)</li>
						<li class="list-group-item" th:text="${param.returntype}?:_">파라미터(returntype)</li>
					</ul>
				</fieldset>							
				<!--  컨텐츠 끝 -->
				<!-- 푸터 시작 -->
				<th:block th:replace="~{layout/footer::footer}"></th:block>
				<!-- 푸터 끝 -->
			</div><!-- container-fluid -->
		</div><!-- container -->
		<script th:inline="javascript">
			//방법1)
			var button = document.querySelector('#ajax');
			button.onclick = e =>{
				//fetch("http://localhost:8080/returntype/void.do?returntype=void")
				//인라인 표현식으로 자바스크립트에서 타임리프 사용
				fetch([[@{/returntype/void.do(returntype='void')}]])
				.then(resp=>{console.log(resp);return resp.json();})
				.then(json=>{
					console.log(json);
					console.log('아이디:%s,비번:%s,파라미터:%s',json.username,json.password,json.parameter)
				})
				.catch(e=>console.log(e));
				
			};
			
			function print(){
				fetch([[@{/returntype/object.do(returntype='Object')}]])
				.then(resp=> resp.json())
				.then(json=>{
					console.log(json);
					if(json.username != undefined)
						console.log('아이디:%s,비번:%s,이름:%s',json.username,json.password,json.name)
					else{
						json.forEach(user=>{
							
							console.log('아이디:%s,비번:%s,이름:%s',user.username,user.password,user.name);
						});
					}
				})
				.catch(e=>console.log(e));
			}
		</script>
	</body>
</html>